.mainContent {
    height: calc(100vh - 78px) !important;
}

.dotImg {
    position: absolute;
    left: 0px;
    width: 100%;
    right: 0px;
    z-index: -1;
}

.silVect1 {
    position: absolute;
    left: 10px;
    top: 72px;
    width: 20%;
    opacity: .2;
    z-index: -1;
    transform: rotate(3.17deg);
}

.silVect2 {
    width: 99.5%;
    position: absolute;
    bottom: -25px;
    left: 3px;
    opacity: .2;
    z-index: -1;
    transform: rotate(2.0deg);
}

.silVect3 {
    position: absolute;
    top: 70px;
    right: 0;
    /* width: 20%; */
    opacity: .2;
    z-index: -1;
}

.silImg {
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: 70px;

}

.silRocket {
    position: absolute;
    right: 0;
    top: 485px;
    width: 75px;
}

.silRed {
    position: absolute;
    /* display: none; */
    width: 65px;
    top: 340px;
    right: 145px;
}

.silYellow {
    position: absolute;
    width: 65px;
    right: 85px;
    top: 100px;
}

.silBlue {
    position: absolute;
    /* display: none; */
    width: 65px;
    top: 375px;
    left: 0;
    right: 105px;
    margin: auto;
}

/* BodyContent */

.mainBodyCon {
    /* border: 2px solid red; */
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.leftContent, .rightContent {
    color: white;
    /* border: 2px solid blue; */
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftContent h1 {
    padding: 0;
    text-align: left;
    margin-bottom: 10px;
    /* margin: 0; */
    word-spacing: 10px;
}

.leftContent h5 {
    font-family: serif;
    font-size: 22px;
    text-align: justify;
    width: calc(100% - 115px);
}

.leftDiv {
    margin-top: 60px;
    margin-left: 30px;
}

.joinBtn {
    cursor: pointer;
    /* float: right; */
    /* height: 30px; */
    /* margin: 5px 15px 0; */
    font-family: Inter;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 15.2222px;
    padding: 8px 15px;
    /* padding-right: 15px;
    padding-left: 15px;
    line-height: 15px;
    width: auto;
    height: auto; */
    border: .763889px solid #943cca;
    border-radius: 3.05556px;
    background: linear-gradient(93.62deg, #3c0b63 1.06%, #c11bb9 147.09%);
    color: #fff;
    margin-top: 5px;
    float: left;
    /* position: relative;
    top: 10px; */
}

.card {
    /* background: transparent !important; */
    border: none;
}

.card-header h2 {
    color: white;
    font-weight: 400;
    word-spacing: 8px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px !important;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.box p {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 10px;
    padding-top: 1px;
}

.timeCount {
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500px;
    font-style: normal;
    padding: 10px;
    border: .763889px solid #943cca;
    border-radius: 10px;
    /* background: linear-gradient(93.62deg, #3c0b63 1.06%, #c11bb9 147.09%); */
    color: #fff;
    background: linear-gradient(179.84deg, hsla(0, 0%, 40%, .5) .14%, hsla(0, 0%, 48%, 0) 141.17%);
}


.input1, .input2 {
    display: inline-block !important;
    width: 100% !important;
    /* width: fit-content !important; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 15px 10px !important;
}

.input2 {
    margin-left: -10px !important;
}

.usdtSpan, .slnSpan {
    margin-left: -90px;
    color: black;
    background-color: #d9a9ff;
    padding: 7px 12px;
    border-radius: 15px;
}

.slnSpan img {
    background: darkblue;
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.slnBtn {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white !important;
    padding: 10px !important;
    background-color: rgb(142, 0, 255, .7) !important;
    border: 1px solid rgb(142, 0, 255, .7) !important;
}

.rightContent {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
    justify-content: center;
}

.frContent {
    margin-right: 15px;
    margin-top: 15px;
    width: 100%;
}

.card {
    background: transparent !important;
    border: none !important;
    /* border: 2px solid red !important; */
    width: 80%;
    margin-top: -100px;
}

.card-header, .card-body, .card-footer {
    border: none !important;
}

.card-footer {
    /* border: 2px solid green !important; */
    /* width: fit-content; */
    margin: 0 auto;
    width: 80%;
    background: linear-gradient(179.84deg, hsla(0, 0%, 80%, .5) .14%, hsla(0, 0%, 48%, 0) 141.17%);
    border-radius: 10px !important;
    padding: 10px !important;
    padding-top: 20px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-image: linear-gradient(45deg, darkorchid, white, darkorchid) 1 !important;
}

.bgFooter {
    width: 100%;
    background: linear-gradient(179.84deg, hsla(0, 0%, 80%, .5) .14%, hsla(0, 0%, 48%, 0) 141.17%);
    border-radius: 10px !important;
    padding: 10px !important;
    padding-top: 20px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-image: linear-gradient(45deg, darkorchid, white, darkorchid) 1 !important;

}

.downArwCir {
    position: absolute;
    left: 0;
    right: 0;
    width: 28px;
    background-color: #8e00ff;
    height: 30px;
    border-radius: 50px;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
}



/* mobile-device */

@media only screen and (max-width: 765px) {

    .dotImg, .silVect1, .silVect2, .silVect3, .silImg, .silRocket, .silRed,
    .silBlue, .silYellow {
        display: none;
    }

    .leftDiv {
        margin-top: 0 !important;
    }

    .rightContent .card {
        width: 100% !important;
        margin-top: 40px !important;
    }

    .leftContent h5 {
        width: 80% !important;
    }

    .mainContent{
        overflow: scroll;
    }
}